.vscode/
venv/
node_modules/
__pycache__/
music_controller/db.sqlite3
*.tmp
*.log
*.pot
*.pyc
music_controller/frontend/static/frontend/main.js
music_controller/frontend/static/frontend/main.js.LICENSE.txt
music_controller/db.sqlite3

music_controller/spotify/credentials.py
